body {
	/* background-image: url(../image/bg-main.jpg); */
	background-image: url(../image/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 1rem 0.8em;
	min-height: 100vh;
	display: grid;
	align-items: center;
	position: relative;
}

body::after {
	content: "";
	position: absolute;
	background-color: #22222250;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

body > * {
	z-index: 999;
}

.container {
	width: 100%;
	max-width: 800px;
	/* background-color: #A9000099; */
	background-color: #00000095;
	border-radius: 10px;
	/* box-shadow: 0 0 10px white; */
	border: 5px solid #ba1400;
	text-align: center;
	color: #f8d11d;
	padding: 2rem 0.8em 2em;
}

.logo-header {
	width: 100%;
	max-width: 15em;
	margin-bottom: .5rem;
}

.button-buat-akun-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	max-width: 700px;
	margin: auto;
}

.the-button {
	display: block;
	width: 100%;
	max-width: 700px;
	margin: auto;
	padding: 0.3em 0.3em;
	font-size: 1.1em;
	text-decoration: none;
	font-weight: bold;
	color: black;
	border-radius: 30px;
	transition: transform 0.3s;
}

.button-buat-akun-container .the-button {
	position: relative;
	overflow: hidden;
	color: white;
	text-shadow: 1.5px 1.5px black;
	background-color: black;
	border: 3px solid #fcd24a;
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: black;
}

.button-buat-akun-container .the-button:hover {
	color: white;
}

.the-button > span:first-of-type {
	font-size: .9rem;
}

/* .the-button.indonesia {
	border: 3px solid red;
	animation: indonesia 0.5s infinite;
	background-image: url(../image/indonesia.webp);
	background-size: cover;
}

.the-button.japan {
	border: 3px solid #e381a4;
	background-image: url(../image/japan.jpg);
	background-size: 100%;
	background-position: center 32%;
	color: white;
	animation: japan 0.5s infinite;
	position: relative;
}

.the-button.cambodia {
	background-image: url(../image/cambodia.jpg);
	background-size: 100% 100%;
	border: 3px solid #00269d;
	animation: cambodia 0.5s infinite;
}

.the-button.thailand {
	background-image: url(../image/thailand.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 3px solid #62a3e3;
	animation: thailand 0.5s infinite;
}

.the-button.singapore {
	background-image: url(../image/singapore.jpg);
	background-size: 70% 100%;
	border: 3px solid #f0e4cf;
	animation: singapore 0.5s infinite;
}

.the-button.myanmar {
	background-image: url(../image/myanmar.jpg);
	background-size: 100% 100%;
	background-position: center;
	border: 3px solid #e5af35;
	animation: myanmar 0.5s infinite;
}

.the-button.philippine {
	background-image: url(../image/philippine.jpg);
	background-size: 100% 100%;
	background-position: center;
	border: 3px solid #efa34f;
	animation: philippine 0.5s infinite;
}

.the-button.hongkong {
	background-image: url(../image/hongkong.jpg);
	background-size: 100% 100%;
	border: 3px solid #0f4a8a;
	animation: hongkong 0.5s infinite;
}

.the-button.sydney {
	background-image: url(../image/sydney.jpg);
	background-size: 100% 100%;
	border: 3px solid #c05fb0;
	animation: sydney 0.5s infinite;
}

.the-button.macau {
	background-image: url(../image/macau.jpg);
	background-size: 100% 100%;
	border: 3px solid #faf8c2;
	animation: macau 0.5s infinite;
} */

.button-bonus {
	/* background-image: linear-gradient(124deg, #910000, #fec600, #910000); */
	background-image: linear-gradient(124deg, #140030, #fcd24a, #140030);
	background-size: 300% 300%;
	border: 3px solid #fcd24a;
	animation: background 12s infinite, buttonbonus 0.5s infinite;
	color: white;
	text-shadow: 1.5px 1.5px black;
}

.the-button:hover {
	color: white;
	transform: translateY(-3px) scale(102%);
}

.button-buat-akun-container .the-button > span {
	display: block;
}

.button-buat-akun-container .the-button .information {
	font-size: 0.75em;
}

.button-buat-akun-container .the-button .information .number {
	color: #fddc64;
}

.page-separator {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 700px;
	margin: auto;
}

.page-separator span {
	width: fit-content;
	padding: 0 1em;
	font-size: 0.9em;
	font-weight: bold;
}

.page-separator .line-separator {
	border-top: 0.1px solid #8d7300;
	width: 100%;
	height: fit-content;
}

.article {
    text-align: left;
    color: white;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article p strong  {
    color: #fed900;
    text-align: center;
}

.article a {
    color: #fed900;
    text-decoration: none;
}

@keyframes background {
	0% {
		background-position: 0% 82%;
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 82%;
	}
}

/* @keyframes indonesia {
	0% {
		border-color: red;
	}

	50% {
		border-color: white;
	}

	100% {
		border-color: red;
	}
}

@keyframes japan {
	0% {
		border-color: #e381a4;
	}

	50% {
		border-color: white;
	}

	100% {
		border-color: #e381a4;
	}
}

@keyframes cambodia {
	0% {
		border-color: #00269d;
	}

	50% {
		border-color: #c80030;
	}

	100% {
		border-color: #00269d;
	}
}

@keyframes thailand {
	0% {
		border-color: #62a3e3;
	}
	50% {
		border-color: #f6cc04;
	}
	100% {
		border-color: #62a3e3;
	}
}

@keyframes singapore {
	0% {
		border-color: #f0e4cf;
	}
	50% {
		border-color: #324967;
	}
	100% {
		border-color: #f0e4cf;
	}
}

@keyframes myanmar {
	0% {
		border-color: #e5af35;
	}
	50% {
		border-color: #d07023;
	}
	100% {
		border-color: #e5af35;
	}
}

@keyframes philippine {
	0% {
		border-color: #efa34f;
	}

	50% {
		border-color: #7a9d19;
	}

	100% {
		border-color: #efa34f;
	}
}

@keyframes hongkong {
	0% {
		border-color: #0f4a8a;
	}

	50% {
		border-color: #db5e25;
	}

	100% {
		border-color: #0f4a8a;
	}
}

@keyframes sydney {
	0% {
		border-color: #c05fb0;
	}

	50% {
		border-color: #002bb3;
	}

	100% {
		border-color: #c05fb0;
	}
}

@keyframes macau {
	0% {
		border-color: #faf8c2;
	}

	50% {
		border-color: #ea8b53;
	}

	100% {
		border-color: #faf8c2;
	}
}

@keyframes buttonbonus {
	0% {
		border-color: #9a6ec9;
	}

	50% {
		border-color: #FFF;
	}

	100% {
		border-color: #9a6ec9;
	}
} */

@media screen and (max-width: 767px) {
	.button-buat-akun-container {
		grid-template-columns: repeat(1, 1fr);
	}
}